 <tbody>
  		<% @user.reports.each do |report|%>
			<tr>
			<td><%=report.date_for%></td>
			<td><%=report.created_at%></td>
			<% if !User.find_by_id(report.author_id).nil? %>
			<td><%=User.find_by_id(report.author_id).name%></td>
			<% else %>
			<td>Author can not be found</td>
			<% end %>
			<td><i class="icon-arrow-right"></i><%=link_to "...", report%></td>
    		</tr>
    	<%end%>	
</tbody>
