<div class="hback">
<p class = "white"> A thousand-mile journey starts with the first step from underneath your feet (Zuxia: underneath your feet) </p> <small> --   Tao Te Ching, Chapter 64</small> 
</div> 