/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.hback {
	background: url('/assets/home-background.jpg') scroll center top no-repeat;
	padding: 350px 50px 0px 50px;
	margin: 0px 40px 40px 40px;
}

.grey {
	font-size: 20px;
  	line-height: 24px;
  	color: #555;
}

.topm{
	margin-top: 70px;	
}

.bottom-line {
	border-bottom: 1px solid;
}

h3.bottom-margin10 {
	margin: 0;
	border-top: 1px solid #AAA;
	margin-top: 10px;
	margin-bottom: 10px;
}

#word {
	width: 10em;
}

#brtable {
	clear: both;
}
#codingtable {
	clear: both;
}
#misctable {
	clear: both;
}
#voctable {
	clear: both;
}